<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhushaolong.soztest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".SozApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo">
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".launchModeTest.TestOneActivity"
            android:label="Test A"
            android:theme="@android:style/Theme"
            android:launchMode="standard"></activity>
        <activity android:name=".launchModeTest.TestTwoActivity"
            android:label="Test B"
            android:theme="@android:style/Theme"
            android:launchMode="singleTask"></activity>
        <activity android:name=".launchModeTest.TestThreeActivity"
            android:theme="@android:style/Theme"
            android:launchMode="singleTask"></activity>
        <activity android:name=".pluginTest.ChangeSkinActivity"
            android:label="change Skin"
            android:theme="@android:style/Theme.Holo"></activity>
        <activity android:name="com.example.soz.dynamicLoad.DLProxyActivity"
            android:label="DL proxy"></activity>
        <activity android:name=".pluginTest.DynamicLoadActivity"
            android:label="DL test"></activity>
    </application>

</manifest>